.orange-color {
  color: orangered;
}
h1 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 50px;
}
span {
  color: red;
}
p {
  margin: 5%;
}
h2 {
  color: rgb(202, 22, 52);
}
body {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  margin: 0%;
}
.link-button {
  text-decoration: none;
  background-image: linear-gradient(orange, tomato);
  padding: 10px 40px;
  color: white;
  font-weight: 700;
  border-radius: 5px;
}
.half-width {
  width: 50%;
  padding: 5%;
}
.half-width img {
  width: 50%;
  margin-right: 20%;
  padding-right: 5%;
  padding-top: 5%;
  background-color: white;
}
.flexiable-container {
  display: flex;
  /* margin-bottom: 100%; */
}
.top-banner {
  background-image: url(images/mine/top-banner.png);
  background-repeat: no-repeat;
}
.text-modify {
  text-align: center;
}
.section {
  margin: 0%;
}
.box-1 {
  font-family: Georgia, "Times New Roman", Times, serif;
  width: 30%;
  height: 60%;
  margin: 1%;
  padding-left: 5%;
  background-color: rgb(122, 173, 194);
  text-align: left;
  border-radius: 10%;
}
.box-2 {
  font-family: Georgia, "Times New Roman", Times, serif;
  width: 30%;
  height: 60%;
  margin: 1%;
  padding-left: 5%;
  background-color: skyblue;
  text-align: left;
  border-radius: 10%;
}
.box-3 {
  font-family: Georgia, "Times New Roman", Times, serif;
  width: 30%;
  height: 60%;
  margin: 1%;
  padding-left: 5%;
  background-color: rgb(112, 158, 177);
  text-align: left;
  border-radius: 10%;
}
.image-1 {
  width: 30%;
}
.blue-color {
  color: rgb(22, 22, 156);
}

h5 {
  font-family: inherit;
  font-style: italic;
  font-size: 50px;
}
h6 {
  font-size: 20px;
}
footer {
  text-align: center;
  background-color: rgb(105, 25, 25);
  margin: 0%;
  padding-bottom: 1%;
}
